[Unit]
Description=Navidrome Music Server and Streamer compatible with Subsonic/Airsonic
After=remote-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
User=__APP__
Group=__APP__
Type=simple
ExecStart=__FINAL_PATH__/__APP__ -h 127.0.0.1:__PORT__ ~/storage
TimeoutStopSec=20
KillMode=process
Restart=on-failure
